* {
  box-sizing: border-box;
  transition: 0.3s;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.container {
  width: 85%;
  margin: auto;
}
a {
  display: inline-block !important;
  text-decoration: none;
  color: #222;
  padding: 10px 15px;
  font-weight: bold;
  border: 1px solid transparent !important;
  outline: none !important;
}
a:hover {
  color: #eb5424;
  border: 1px solid #eb5424;
}
@media (max-width: 991px) {
  a {
    color: white !important;
    margin: 20px 0;
  }
  a:hover {
    border-left: 1px solid white !important;
    border-right: 1px solid white !important;
  }
}
